---
name: cookbook

on:
  workflow_call:
    inputs:
      cookbook_name:
        required: true
        type: string
      run_tests:
        required: false
        default: true
        type: boolean
      chef_server_url:
        required: true
        type: string
    secrets:
      tailscale_key:
        required: true
      client_key:
        required: true
      chef_server_ip:
        required: true
    
jobs:
  rspec:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install Chef
        uses: actionshub/chef-install@main
      - name: Run RSpec
        run: chef exec rspec -f j -o tmp/rspec_results.json -f p
        env:
          CHEF_LICENSE: accept-no-persist

  cookstyle:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Install Chef
        uses: actionshub/chef-install@main
      - name: Run Cookstyle
        run: chef exec cookstyle --display-cop-names --extra-details
        env:
          CHEF_LICENSE: accept-no-persist

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run yaml Lint
        uses: actionshub/yamllint@main

  mdl:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run Markdown Lint
        uses: actionshub/markdownlint@main
  
  version:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/head/main'
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Ensure version is bumped
        uses: Texas-A-M-College-of-Engineering/lt-workflows/cookbook-version@main
  
  kitchen:
    runs-on: ubuntu-latest
    if: |
      github.ref != 'refs/head/main' &&
      inputs.run_tests
    needs: [rspec, cookstyle, yamllint, mdl, version]
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Connect to Tailscale
        uses: tailscale/github-action@v1
        with:
          authkey: ${{ secrets.tailscale_key }}
      - name: Install Chef
        uses: actionshub/chef-install@main
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y virtualbox vagrant
      - name: Setup Knife Profiles
        run: |
          mkdir ~/.chef
          cat <<EOF > ~/.chef/credentials
          [default]
          client_name = 'github-uploader'
          client_key = """
          ${{  secrets.client_key }}
          """
          chef_server_url = "${{ inputs.chef_server_url }}/organizations/coe-lt-tier1"

          [coe-lt-tier2]
          client_name = 'github-uploader'
          client_key = """
          ${{  secrets.client_key }}
          """
          chef_server_url = "${{ inputs.chef_server_url }}/organizations/coe-lt-tier1"

          EOF
          echo "${{ secrets.chef_server_ip }}  chef.tamu.edu" >> /etc/hosts
      - name: Run Test kitchen
        run: kitchen test
        env:
          CHEF_LICENSE: accept-no-persist
      - name: Cleanup Test kitchen
        run: kitchen destroy
        if: always()
  
  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/head/main'
    needs: [rspec, cookstyle, yamllint, mdl]
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Connect to Tailscale
        uses: tailscale/github-action@v1
        with:
          authkey: ${{ secrets.tailscale_key }}
      - name: Install Chef
        uses: actionshub/chef-install@main
      - name: Setup Knife Profiles
        run: |
          mkdir ~/.chef
          cat <<EOF > ~/.chef/credentials
          [default]
          client_name = 'github-uploader'
          client_key = """
          ${{  secrets.client_key }}
          """
          chef_server_url = "${{ inputs.chef_server_url }}/organizations/coe-lt-tier1"

          [coe-lt-tier2]
          client_name = 'github-uploader'
          client_key = """
          ${{  secrets.client_key }}
          """
          chef_server_url = "${{ inputs.chef_server_url }}/organizations/coe-lt-tier1"

          EOF
          echo "${{ secrets.chef_server_ip }}  chef.tamu.edu" >> /etc/hosts
      - name: Clean and install dependencies
        run: |
          rm -rf ~/.berkself
          berks install
      - name: Upload cookbooks to server
        run: |
          knife cookbook upload ${{ inputs.cookbook_name }} -o "../:~/.berkshelf/cookbooks/" --include-dependencies --profile default
          knife cookbook upload ${{ inputs.cookbook_name }} -o "../:~/.berkshelf/cookbooks/" --include-dependencies --profile coe-lt-tier2
        env:
          CHEF_LICENSE: accept-no-persist
      - name: Cleanup
        run: |
          rm -rf ~/.chef
          rm -rf ~/.berkself
        if: always()